#Visual Studio
bin/
obj/
.vs/
Debug/
Release/
*.suo
*.user
*.vsmdi
*.ncb
*.sln.cahce

#Resharper
_resharper.*/

*.dotcover

#Android
*.apk
SharedCache/
Artifacts/
Library/
Logs/

#ThirdParty
.coverage
.tox
dist/
wideq_state.json
__pycache__
.vscode/
bin/
var/
vendor/
# Ignore Mac system files
.DS_Store